*{
    box-sizing: border-box;
    font-family: arial;
}

.container{
    width: 100vw;
    max-width: 100%;
}

header{
    width: 100%;
}

.header-container{
    display: flex;
    width: 100%;
}

#headerLeft{
    width: 50%;
    border: 2px dotted red;
}

#headerRight{
    width: 50%;
    border: 2px dotted red;
    
    display: flex;
    align-items: center;
}

.nav {
    display: flex;
    width: 100%;
    justify-content: end;
    padding-right: 30px;
}

header a {
    margin: 20px;
    color: black;
    text-decoration: none;
    cursor: pointer;
}